<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>CAYA Clothes</h1>
    <div class="header-bar">
        <nav>
            <a th:href="@{/}" th:classappend="${activePage == 'home'} ? 'active'">Home</a>
            <a th:href="@{/products}" th:classappend="${activePage == 'products'} ? 'active'">Products</a>
            <a th:href="@{/cart}" th:classappend="${activePage == 'cart'} ? 'active'">Cart</a>
        </nav>
        <div class="user-info" sec:authorize="isAuthenticated()">
            User: <a th:href="@{/profile/{id}(id=${id})}" sec:authentication="name"></a><br/>
            <a th:href="@{/logout}">Sign out</a>
        </div>
        <div class="user-info" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Sign in</a>
        </div>
        <div class="register" sec:authorize="!isAuthenticated()">
            <a th:href="@{/registration}">Register</a>
        </div>
    </div>

</header>