<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>CAYA Clothes</h1>
    <div class="header-bar">
        <nav>
            <a th:href="@{/}" th:classappend="${activePage == 'home'} ? 'active'">Home</a>
            <a th:href="@{/products}" th:classappend="${activePage == 'products'} ? 'active'">Products</a>
        </nav>
        <div class="user-info" sec:authorize="isAuthenticated()">
            User: <span sec:authentication="name"></span><br/>
            <a th:href="@{/logout}">Sign out</a>
        </div>
        <div class="user-info" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Sign in</a>
        </div>
    </div>

</header>