<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<main>
    <div class="product-details">
        <img th:src="${product.imageURL}" th:alt="${product.name}"/>

        <div class="product-info">
            <h1 th:text="${product.name}"></h1>
            <p th:text="${product.category}"></p>
            <p th:text="${product.price}"></p>

            <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
                <button type="submit">Add to cart</button>
            </form>
        </div>

        <a class="back-link" href="/products">← Back to products</a>

    </div>
</main>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>