<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ALL CLOTHING</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<main>
    <h1>ALL CLOTHING</h1>

    <div class="products">
        <div class="card" th:each="product : ${products}">

            <a th:href="@{/products/{id}(id=${product.id})}">
                <h2 th:text="${product.name}"></h2>
            </a>

            <p th:text="${product.category}"></p>
            <p th:text="${product.price}"></p>

            <img th:src="${product.imageURL}" th:alt="${product.name}"/>

            <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
                <button type="submit">Add to cart</button>
            </form>

        </div>
    </div>

    <div style="margin-top:20px;">
        <a href="/">← Back to Home</a>
    </div>
</main>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>