<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="panel">
        <h1>Profile</h1>
        <div><strong>Username: </strong><span th:text="${user.username}"></span></div>
        <br/>
        <div><strong>Role: </strong><span th:text="${user.role}"></span></div>
        <br/>

        <form th:action="@{/profile/{id}(id=${user.id})}" method="post" style="display: inline;">
            <button type="submit">Send user details</button>
        </form>

        <form th:action="@{/profile/{id}(id=${user.id})}" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete user</button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>