<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>
<body>
<h2>Register user</h2>
<form th:action="@{/registration}" th:object="${register}" method="post">

    <label for="username">Username: </label>
    <input id="username" type="email" th:field="*{username}" placeholder="Username..." required="required"><br/>

    <label for="password">Password: </label>
    <input id="password" type="password" th:field="*{password}" placeholder="Password..." required="required"><br/>

    <label for="role">Role: </label>
    <select id="role" th:field="*{role}">
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
    </select><br/>

    <label for="consent">
        <input id="consent" type="checkbox" th:field="*{consent}">
        I consent to my data being stored
    </label><br/>
    <button type="submit">Register</button>

</form>

</body>
</html>